C:\Учеба\geek\HomeWork\HomeWork.csproj
C:\Учеба\geek\HomeWork\HomeWork.sln
C:\Учеба\geek\HomeWork\String_Array\obj
C:\Учеба\geek\HomeWork\String_Array\bin
C:\Учеба\geek\HomeWork\String_Array\String_Array.csproj
C:\Учеба\geek\HomeWork\twoWayMatrix\bin
C:\Учеба\geek\HomeWork\twoWayMatrix\obj
C:\Учеба\geek\HomeWork\twoWayMatrix\twoWayMatrix.csproj
C:\Учеба\geek\HomeWork\.gitignore
